@import "tailwindcss";

@theme {
  --color-power-100: #ffe4d9;
  --color-power-200: #ffc2a9;
  --color-power-300: #ff9872;
  --color-power-400: #f15c25;
  --color-power-500: #c94a1d;
  --color-power-600: #a33a18;
  --color-power-700: #7d2d13;
  --color-power-800: #5a210e;
  --color-power-900: #3b1709;
  --color-power-1000: #210d05;
  --color-power: var(--color-power-400);

  --color-power-gray-400: #313639;
  --color-power-gray: var(--color-power-gray-400);
}

@utility input {
  @apply rounded bg-gray-100 px-2 py-1 shadow-md;
}

@utility button {
  @apply bg-power border-power-600 border-3 active:scale-98 cursor-pointer rounded px-3.5 py-1.5 font-black uppercase text-white shadow-md hover:shadow-lg focus:shadow-lg;
}

.salesmen-table {
  tr:nth-child(even) {
    background-color: var(--color-gray-300);
  }

  tr:nth-child(odd) {
    background-color: var(--color-gray-200);
  }
}

.myp-table {
  border-collapse: collapse;

  td,
  th {
    padding-inline: --spacing(2);
    white-space: nowrap;
  }

  td {
    border-color: var(--color-gray-400);
    border-width: 1px;
    border-style: dashed;
  }

  thead {
    th {
      padding-block: --spacing(1);
      font-size: 1.05em;
      font-weight: 800;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: var(--color-gray-300);
    }

    tr:nth-child(odd) {
      background-color: var(--color-gray-200);
    }

    td {
      font-weight: 500;
    }
  }
}
